# Django settings
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=marketplace
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=services
MINIO_SECURE=False
MINIO_SEED_DIR=../minio-files
